<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let i of categorys">
    <ion-card-header>
      <img src="{{i.img}}" [routerLink]="['/show',i]" >
      <!--ion-card-subtitle>{{i.pop}}</!ion-card-subtitle>
      <ion-card-subtitle>{{i.re}}</ion-card-subtitle -->
      <p>
      <ion-card-subtitle>{{i.name}}</ion-card-subtitle >
    </ion-card-header>

    <ion-card-content>
      <!--{{i.cap}}-->
    </ion-card-content>
  </ion-card>

</ion-content>
